build_log
*.log
*.pyc
usr
opt
*.o
*.os
*.exe
packages
binaries
*~
CMakeCache.txt
CMakeFiles
Makefile
build-stamp
cmake_install.cmake
configure-stamp
cscope.*
debian/files
debian/librua-0.install
debian/librua-0.postinst
debian/librua-0.postinst.debhelper
debian/librua-0.postrm.debhelper
debian/librua-0.substvars
debian/librua-0/*
debian/librua-dbg.substvars
debian/librua-dbg/*
debian/librua-dev.install
debian/librua-dev.substvars
debian/librua-dev/*
install_manifest.txt
librua.so*
rua.pc
tags
